*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1500px;
    height: 800px;
    overflow: hidden;
   

}
.main{
    overflow: hidden;
}
.main img{
 width: 500px;
   height: 400px;
   margin-top: 20px;
   opacity: o.1;
}
p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.back{
    background-color: #DAB245;
    height: 300px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}
.branding{
    color: white;
    font-size: 20px;
}
.digital{
    color: white;
    font-size: 20px;
}
.print{
    color: white;
    font-size: 20px;
}
.strategy{
    color: white;
    font-size: 20px;
}
.left{
    width: 500px;
    float: left;
}
.content{
    width: 900px;
   float: left;
   overflow: hidden;
   padding: 30px;
}
.content h2{
    text-decoration: underline;
    font-size: 30px;
    padding: 10px;
}
.btn{
    float: right;
    background-color: blueviolet;
    padding: 20px;
}