::placeholder{
    color: rgba(0, 0, 0, 0.329);font-size:medium;
    
}
textarea-placeholder{
    color: rgba(0, 0, 0, 0.329);font-size:medium;
}
.wrapper{
    background-color: #DFA5C6;
    height: 800px;
}
.label{
    margin-top: 10px;
    margin-left: 60px;
}
.start{
    padding: 20px;
    margin-left: 500px;
}
input{
    width: 450px;
    height: 40px; 
}
#test{
    width: 450px;
}
.Submit{
    margin-left: 350px;
}
h1{
    text-align: center;
    color: blueviolet;
    text-decoration: underline;
    padding-top: 100px;
   
}
