*{
    padding: 0;
    margin: 0;
}
.wrapper{
    border: 2px solid gold;
    height: 763px;
    width: 1900px;
    
}

.head{
    background-color:#322F28;
    width: 1900px;
   height: 90px;
}
.list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding-top: 30px;
    text-decoration: none;
}
a{
    text-decoration: none;
    font-size: 15px;
    background-color: rgb(3, 243, 183);
    padding: 20px;
    border-radius: 20px;
    
}
img{

    margin-left: 20px;
    margin-top: 20px;
    width: 700px;
    height: 600px;
}
.left{
    margin-left: 40px;
    float: left;
    
}
.right{
    margin-right: 120px;
    width: 900px;
    height: 485px;
    float: right;
    text-align: left;
   padding: 40px;
   padding-top: 10px;
   text-align: justify;
   font-size: 18px;
  
}
.footer{
    background-color: rgb(49, 197, 165);
    text-align: center;
    padding: 30px;
}
.fullcontent{
    padding-top: 30px;
    overflow: hidden;
    background-color:#e4cdae;
}
h2{
    text-align: center;
}
a:hover{
    color: white;
}
