.wrapper{
    border: 2px solid gray;
    height: 400px;
    width: 500px;
    background-color: aquamarine;
}
.wrapper .header{
    border: 2px solid red;
    height: 50px;
    width: 450px;
    background-color:yellow;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wrapper .fullcontent{

overflow: hidden;
}

.wrapper .fullcontent .leftcontent{
    border: 2px solid green;
    height: 300px;
    width: 150px;
    background-color: brown;
    float: left;
    margin-left: 25px;

}
.wrapper .fullcontent .rightcontent{
 border: 2px solid greenyellow;
 height: 300px;
 width: 220px;
 background-color: blue;
float: right;
margin-right: 25px;
position: relative;
}
.wrapper .fullcontent .rightcontent  .circle{
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 63px;
    left: 33px;
}


